<div class="my-2 flex flex-row justify-between rounded-md bg-slate-800 p-2 outline outline-white/35">
    <div class="space-y-1" >
        <p class="text-sm font-thin text-white/65">@Title</p>
        <p>@Path</p>
    </div>

    <button class="rounded-md px-3 py-1 text-sky-400 hover:bg-sky-400 hover:text-white" @onclick="HandleEdit">
        Edit
    </button>
</div>

@code {
    [Inject] private IFolderPicker folderPicker { get; set; }
    [Inject] private IConfigService configService { get; set; }

    [Parameter]
    public string Title { get; set; } = "No Title";

    [Parameter]
    public string? Path { get; set; }

    [Parameter, EditorRequired]
    public ConfigParameter parameter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UpdatePathDisplay();
    }

    private async Task HandleEdit()
    {
        try
        {
            var result = await folderPicker.PickAsync(CancellationToken.None);

            if (result.Folder == null)
            {
                throw new DirectoryNotFoundException();
            }
            else
            {
                configService.SaveConfig(GetConfig(result.Folder.Path));
                await UpdatePathDisplay();
            }
        }
        catch(Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private ApplicationConfig GetConfig(string destinationPath)
    {
        switch (parameter)
        {
            case ConfigParameter.TEMP:
                return new ApplicationConfig
                    {
                        TempFolderPath = destinationPath
                    };
            case ConfigParameter.OUTPUT:
                return new ApplicationConfig
                    {
                        OutputFolderPath = destinationPath
                    };
            default:
                return null;
        }
    }

    private async Task UpdatePathDisplay(){
        var config = await configService.GetConfig();
        
        switch (parameter)
        {
            case ConfigParameter.TEMP:
                Path = config.TempFolderPath;
                StateHasChanged();
                break;

            case ConfigParameter.OUTPUT:
                Path = config.OutputFolderPath;
                StateHasChanged();
                break;
            default:
                Path = "No Value";
                break;
        }
    }
}
