
<div class="space-y-1">
    <h4 class="text-3xl font-bold font-stretch-150%">@Title</h4>
    <hr class="my-2 border-white/35"/>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";
}
